* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #16a34a;
  --primary-light: #44ce77;
  --bg: #f9fafb;
  --card-bg: #ffffff;
  --text-main: #111827;
  --text-gray: #6b7280;
  --success: #16a34a;
  --warning: #f59e0b; /* pending */
  --danger: #dc2626;
}
body {
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-main);
}
p,
span,
a,
li {
  color: var(--text-gray);
}

p {
  line-height: 16px;
}

